body {
	background-color: #101010  ;
	font-family: 'Maven Pro', sans-serif;
}
.navbar-default {
  background-color: transparent;
/*	background-color: #181818;
  border:0;
  border-radius: 0px;*/
	border: 0;
	padding: 15px;
}
.navbar > li> a {
	color: white;
}
.cvp {
	text-align: center;
	color: white;
}
.cvp-sub {
  text-align: center;
  color: grey;
}
.navbar-default .navbar-brand {
	color: white;
	font-family: 'Orbitron', sans-serif;
	font-size: 36px;
  padding-top: 18px;
}
.navbar-default .navbar-brand:hover {
  color: white;
}
.navbar-default .navbar-nav>li>a {
	color:white;
	font-size: 16px;
  padding-top: 12px;
}
.navbar-default .navbar-nav>li>a:hover {
  color:#00ffff;
}


/* quick view */
.quick-view {
  background-color: #181818;
  color:white;
  padding: 5px 20px 20px 30px;
  width: 28%;
  margin-top: 18vh;
}



/* muscle man */
#box-wrapper {
	position: relative;
	width: 420px;
  margin: 0 auto;
}


/* background */
#a {
	position: absolute;
  top: 0px;
  left: 50px;
  width: 200px;
  height: 100px;
  opacity: .5;
}


/* biceps */
#b {
	position: absolute;
  top: 174px;
  left: 102px;
  width: 45px;
  transition: all .2s ease-in-out;
  opacity: .0;
}
#b:hover {
  transform: scale(1.02);
  opacity: .9
}


/* pecs */
#c {
	position: absolute;
  top: 140px;
  left: 140px;
  width: 135px;
  transition: all .2s ease-in-out;
  opacity: .0;
}
#c:hover {
  transform: scale(1.02);
  opacity: .4;
}


/* delts */
#d {
	position: absolute;
  top: 131px;
  left: 108px;
  width: 56px;
  transition: all .2s ease-in-out;
  opacity: .0;
}

#d:hover {
  transform: scale(1.02);
  opacity: .9
}


/* abs */
#e {
	position: absolute;
  top: 206px;
  left: 176px;
  width: 67px;
  transition: all .2s ease-in-out;
  opacity: .0;
}
#e:hover {
  transform: scale(1.02);
  opacity: .5;
}


/* obliques */
#f {
  position: absolute;
  top: 203px;
  left: 144px;
  width: 123px;
  transition: all .2s ease-in-out;
  opacity: .0;
}
#f:hover {
  transform: scale(1.005);
  opacity: .6;
}

/* traps */
#g {
  position: absolute;
  top: 108.4px;
  left: 147.4px;
  width: 115.2px;
  transition: all .2s ease-in-out;
  opacity: .0;
}
#g:hover {
  transform: scale(1.005);
  opacity: .6;
}